
.btnSelected{
    background-color: rgba(166, 166, 166, 0.73);
}
.hidden{
    display: none;
 }
.visible{
    display: flex;
}
.align-right{
    margin-left: auto;
    display: block;
}
.inputsLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.toSignUp, .toSignIn {
    text-decoration: underline;

}
.photoProfil{
    width: 20px;
    height: 20px;
}